body{
	background-color: whitesmoke;
}
/*Menú*/

nav{

}

ul{

}

li{

}

.i1, .i2, .i3{
	width: 200px;
	height: 200px;
}

.i1{
	background-color: red;
	float: left;
}

.i2{
	background-color: purple;
	float: right;
}

.i3{
	background-color: orange;
	float: right;
}